body {
    font-family: "Inter", sans-serif;
    background-color: #f0f0f0;
    overflow: hidden;
}

h1 {
    font-size: 40px;
    position:static;
    width: 100%;
    margin-top: 20px;
    text-align: left;
}

p {
    font-size: 48px;
    margin: 10px 0;
    font-weight: bold;
    text-align: center;
}

#logo {
    position: absolute;
    top: 20vh;
    left: 25vh;
    width: 500px;
    height: 500px;
}

#smallLogo {
    position: absolute;
    top: 2vh;
    left: 100vh;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

#loginButton, #findHouseButton{
    margin: 15px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    width: 400px;
    border-radius: 15px;
    font-size: 15px;
    text-decoration: none;
    text-align: center;
    border: none;
    background-color: #5ba4d8;
    color: white;
}

#signupButton{
    border: none;
    text-decoration: underline;
    margin: 15px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    font-size: 22px;
}

#loginButton:visited, #signupButton:visited, #findHouseButton:visited{
    color: black;
}


#welcomePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding-left: 75vh;   
}

#signupPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;  
    margin-top: 30px; 
}

#signupForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#signupForm label {
    text-align: left;
    width: 500px;
}

#signupForm input {
    margin-bottom: 10px;
    padding: 8px;
    font-size: 16px;
    width: 500px;
    border-radius: 10px;
    border: 2px solid grey;
}

#signupForm button {
    width: 500px;
    align-self: center;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

.checkbox {
    display: flex;
    align-items: center;
    align-self: flex-start;
    gap: 5px;
   
}

#createAccount {
    position: absolute;
    top: 140px;
}

@font-face {
    font-family: Inter;
    src: url(/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf) format(ttf);
}