<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="icon" href="../static/img/icons/App_icon_circle.svg" type="image/x-icon">
</head>
<body class="page-load">
<header>
    <nav class="nav">
        <a class="Tentaclean" href="{{url_for('home')}}">Tentaclean</a>
        <a class="HouseList" href="{{url_for('houselist')}}">House List</a>
        <a class="Home" href="{{url_for('createhouse')}}">Create House</a>
        <a id="logOut" href="{{url_for('logout')}}">Log out</a>
        <img src="../static/img/icons/account_circle.svg" alt="account" id="accounticon">
    </nav>
</header>
    <!-- Handle error (flashed) messages from Flask -->
    {% with messages = get_flashed_messages(with_categories=True) %}
      
      {% if messages %}
        <!-- Loop through all flashed messages -->
        {% for category, message in messages %} 
          
          <!-- Bootstrap-style alert box -->
          <div class="alert alert-{{ category }}">
            {{ message }}
          </div>

        {% endfor %}
      {% endif %}

    {% endwith %}


<h1 class="intro">Welcome, {{username}}[User Name]</h1>


  <h2 class="houses">Your Houses</h2>

  <div id="housescontainer">
  {% if houses %}
    {% for house in houses %}
      <div id="House1">
          <h2 class="house">{{house.name}}</h2>
          <button onclick="window.location.href='{{ url_for('taskpage', house_id=house.id) }}'" id="joinbtn">Tasks</button>
      </div>
    {% endfor %}
  {% else %}
    <p>No available games</p>
  {% endif %}
  </div>

  <footer>
    <nav class="navmobile">
        
        <a href="{{url_for('home')}}">
    <img src="../static/img/icons/home_nav_icon.svg" alt="home" class="nav-icon">
        </a>

        <a href="{{url_for('houselist')}}">
    <img src="../static/img/icons/list_nav_icon.svg" alt="houseList" class="nav-icon">
        </a>

        <a href="{{url_for('createhouse')}}">
    <img src="../static/img/icons/add_nav_icon.svg" alt="createhouse" class="nav-icon">
        </a>
        <a href="{{url_for('logout')}}">
          <img src="../static/img/icons/account_circle.svg" href="{{url_for('logout')}}" alt="account" id="accounticon">
          </a>
    </nav>
  </footer>
</body>
</html>