<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
        <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="icon" href="./static/img/App_icon_circle.svg" type="image/x-icon">
</head>
<header>
    <nav class="nav">
        <a class="Tentaclean" href="index.html">Tentaclean</a>
        <a class="Home" href="index.html">Home</a>
        <a class="HouseList" href="houselist.html">House List</a>
        <a class="Dashboard" href="dashboard.html">Dashboard</a>
        <img src="../static/img/icons/account_circle.svg" alt="account" id="accounticon">
    </nav>
</header>
<body>
    <h1 class="intro">Welcome, [User Name]</h1>
<div id="houseButtons">
  <button id="createbtn" >Create House</button>
  <button id="joinbtn" >Join House</button>
  </div>

  <h2 class="houses">Houses</h2>

  <div id="housescontainer">
    <div id="House1">
        <h2 class="house">House 1</h2>
        <button id="joinbtn" >Join House</button>
  </div>
      <div id="House1">
        <h2 class="house">House 2</h2>
        <button id="joinbtn" >Join House</button>
  </div>
      <div id="House1">
        <h2 class="house">House 3</h2>
        <button id="joinbtn" >Join House</button>
  </div>
      <div id="House1">
        <h2 class="house">House 4</h2>
        <button id="joinbtn" >Join House</button>
  </div>
 

  </div>

</body>
</html>