<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>House List</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="icon" href="/static/img/icons/App_icon_circle.svg" type="image/x-icon">
</head>
<body class="page-load">
<header>
    <nav class="nav">
        <div style="display: flex; gap: 30px; align-items: center; width: 100%;">
            <a class="Tentaclean" href="/" style="margin-right: auto;">Tentaclean</a>
            <a class="HouseList" href="/houselist">House List</a>
            <a class="CreateHouse" href="/createhouse">Create a House</a>
            <a class="Dashboard" href="/dashboard">Dashboard</a>
            <img src="/static/img/icons/account_circle.svg" alt="account" id="accounticon">
        </div>
    </nav>
</header>
    <h1 class="yourhouses">Your Houses</h1>

      <div id="yourhousescontainer">
    <div id="House1">
        <h2 class="house">House 1</h2>
        <button id="joinbtn" >Tasks</button>
  </div>
  </div>
 <script src="/static/js/script.js"></script>
</body>
</html>