<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>House List</title>
        <link rel="stylesheet" href="/static/css/styles.css">
       <link rel="icon" href="../static/img/icons/App_icon_circle.svg" type="image/x-icon">
</head>

<header>
    <nav class="nav">
        <a class="Tentaclean" href="{{url_for('home')}}">Tentaclean</a>
        <a class="HouseList" href="{{url_for('houselist')}}">House List</a>
        <a class="Home" href="{{url_for('createhouse')}}">Create House</a>
        <a id="logOut" href="{{url_for('logout')}}">Log out</a>
        <img src="../static/img/icons/account_circle.svg" alt="account" id="accounticon">
    </nav>
</header>
<body>
    <h1 class="yourhouses">All available houses</h1>

    <div id="yourhousescontainer">
    {% if houses %}
        {% for house in houses %}
        <div id="House1">
            <h2 class="house">{{house.name}}</h2>
            <button onclick="window.location.href='{{ url_for('taskpage', house_id=house.id) }}'" id="joinbtn2">Join</button>
        </div>
        {% endfor %}
    {% else %}
        <p>No available games</p>
    {% endif %}
    
    </div>
  <footer>
    <nav class="navmobile">
        
        <img src="../static/img/icons/home_nav_icon.svg" alt="home" id="icon">
        <img src="../static/img/icons/list_nav_icon.svg" alt ="houseList" id="icon">
        <img src="../static/img/icons/add_nav_icon.svg" alt="createhouse" id="icon">
        <img src="../static/img/icons/account_circle.svg" alt="account" id="accounticon">
    </nav>
  </footer>
</body>
</html>