<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tentaclean</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="icon" href="../static/img/icons/App icon.svg" type="image/x-icon">
  </head>
  <body>
    <main>
        <h1>Tentaclean</h1>  
    </main>
    <img src="../static/img/icons/Octy (2).svg" alt="logo" id="logo">
    <div id="welcomePage">
    <p>Roommates united, mess divided.</p>
    <p>More arms. Less mess.</p>
    <button id="loginButton" onclick="directToLogin()">Log in</button>
    <button id="signupButton" onclick="directToSignup()">Sign up</button>
    <button id="findHouseButton">Find a house</button>
    </div>


    <script src="../static/js/script.js"></script>
  </body>
</html>