<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tentaclean</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="icon" href="../static/img/icons/App_icon_circle.svg" type="image/x-icon">
  </head>
  <body>

  <!-- Handle error (flashed) messages from Flask -->
    {% with messages = get_flashed_messages(with_categories=True) %}
      
      {% if messages %}
        <!-- Loop through all flashed messages -->
        {% for category, message in messages %} 
          
          <!-- Bootstrap-style alert box -->
          <div class="alert alert-{{ category }}">
            {{ message }}
          </div>

        {% endfor %}
      {% endif %}

    {% endwith %}

    <main>
        <h1>Tentaclean</h1>  
    </main>
    <img src="../static/img/icons/Octy.svg" alt="logo" id="logo">
    
    <div id="welcomePage">

      <div id="slogan">
    <p id="roommates">Roommates united, <br> mess divided.</p>
    <p id="moreArms">More arms. Less mess.</p>
    </div>

    <a id="loginButton" href="{{ url_for('login')}}">Log in</a>
    <!-- onclick="directToLogin() I REMOVED ONCLICK AND USED FLASK url_for FUNCTION.
    IT WORKS WHEN YOU SET UP FLASK, BUT DOESN'T WORK WHEN YOU OPEN HTML WITH LIVE SERVER-->
    <a id="signupButton" href="{{ url_for('signup')}}">Create an account</a>
    <!-- onclick="directToLogin() I REMOVED ONCLICK AND USED FLASK url_for FUNCTION.
    IT WORKS WHEN YOU SET UP FLASK, BUT DOESN'T WORK WHEN YOU OPEN HTML WITH LIVE SERVER-->
    </div>

    <script src="../static/js/script.js"></script>
  </body>
</html>