<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taskpage</title>
        <link rel="stylesheet" href="../static/css/styles.css">
       <link rel="icon" href="../static/img/icons/App_icon_circle.svg" type="image/x-icon">
</head>
<header>
    <nav class="nav">
        <a class="Tentaclean" href="{{url_for('home')}}">Tentaclean</a>
        <a class="HouseList" href="{{url_for('houselist')}}">House List</a>
        <a class="Home" href="{{url_for('createhouse')}}">Create House</a>
        <a id="logOut">Log out</a>
        <img src="../static/img/icons/account_circle.svg" alt="account" id="accounticon">
    </nav>
</header>
<body>
    <main>
        <h1 class="intro">{{house.name}}</h1>
        <h2 id="Taskpage">Tasks:</h2>
    </main>
 <div class="task-list">

    <button class="task-btn">
        <span class="circle"></span>
        Washing Dishes
        <a href="URL" class="task-icon">
          <img src="../static/img/icons/trash_can.jpg" alt="Trash Icon" class="task-icon">
        </a>
    </button>

    <button class="task-btn">
        <span class="circle"></span>
        Vacuum Cleaning
        <a href="URL" class="task-icon">
          <img src="../static/img/icons/trash_can.jpg" alt="Trash Icon" class="task-icon">
        </a>
    </button>

    <button class="task-btn">
        <span class="circle"></span>
        Mopping the Floor
        <a href="URL" class="task-icon">
          <img src="../static/img/icons/trash_can.jpg" alt="Trash Icon" class="task-icon">
        </a>
    </button>

    <button class="task-btn create-btn">
        <span class="plus">+</span>
        Create New Task
    </button>
 </div>
 <div class="footer">
    <p class="footer"> &#169 2024 Tentaclean. All rights reserved.</p>
 </div>
 <script src="/static/js/script.js"></script>
</body>
</html>