<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join or create house</title>
        <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="icon" href="../static/img/icons/App_icon_circle.svg" type="image/x-icon">
</head>

<body>
    <h1>Welcome, {{user.name}}</h1>

    <a href="{{url_for('createhouse')}}" id="createbtn" >Create House</a>
    <a href="{{url_for('houselist')}}" id="joinbtn" >Join House</a>
</body>
</html>